.DS_Store
Thumbs.db
.vscode/
.idea/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

.venv/
.env
.env.*

build/
dist/
pip-wheel-metadata/
.cache/
logs/
*.logs

.ipynb_checkpoints/ 

dataset/
debug/
yolo/
yolo_0.1/
action_det/debug_viz

yolo11l.pt
yolo11n.pt
yolo11s.pt